body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contact-management__header {
  justify-content: space-between;
  display: flex;
  background-color: #e62c1f;
  padding: 8px 16px;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 16px;
}

.btn {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .list-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-management__header {
    display: block;
    padding: 8px;
  }

  .btn-add {
    display: inline-block;
  }
}
